body {
    width: 250px;
    height: 250px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

p {
    display: inline-flex;
    margin: auto 10px;
    font-size: 22px;
    color: royalblue;
    border-radius: 6px;
    border: 1px solid rgb(247, 133, 146);
    padding: 10px;

}